body {
    margin: 0;
}

.conteiner {
    margin: 0 15%;
    text-align: left;
}

/* HEADER: BANNER */
.banner {
    padding-top: 50px;
    background-color: skyblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.logo {
    width: 200px;
    margin: 0 15%;
}

/* MAIN: TITOLO */
.title {
    font-size: xx-large;
    margin-bottom: 0;
}

.credits {
    color: gray;
}

.link {
    text-decoration: none;
    color: rgb(100, 100, 244);
}

.date {
    font-size: small;
    margin-bottom: 20px;
}

/* IMMAGINI */
.photo {
    margin: 0 0 20px 0;
}

.caption {
    font-size: small;
}

/* ARTICOLI */
.marked {
    background-color: yellow;
}

/* LISTA */
.list {
    margin-top: 20px;
    padding-left: 15px;
}

/* TABELLA */
table{
    margin: 25px 0px 25px 0px;
}

.row1 {
    background-color: blueviolet;
    color: white;
}

.row2 {
    background-color: skyblue;
}

.row3 {
    background-color: white;
}

.row4 {
    background-color: skyblue;
}

.cell-long{
    width: 50%;
}

/* FOOTER */
footer {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

h3{
    color: grey;
    font-size: x-large;
    margin-bottom: 10px;
}

.monitor {
    width: 315px;
    height: 208px;
    background-image: url(../img/monitor.jpg);
    margin-bottom: 20px;
}

.graph {
    width: 315px;
    height: 208px;
    background-image: url(../img/graph.jpg);
}