body {
    margin: 0;
}

.conteiner {
    margin: 20px;
}

/* HEADER: BANNER */
.banner {
    padding-top: 50px;
    background-color: skyblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.logo {
    width: 200px;
}

/* MAIN: TITOLO */
.title {
    font-size: xx-large;
    margin-bottom: 0;
}

.credits {
    color: gray;
}

.link {
    text-decoration: none;
    color: rgb(100, 100, 244);
}

.date {
    font-size: small;
}

/* IMMAGINI */
.caption {
    font-size: small;
}

/* ARTICOLI */
.marked {
    background-color: yellow;
}

/* LISTA */
.list {
    padding-left: 15px;
}

/* TABELLA */
table{
    margin: 20px 0px 20px 0px;
}

.row1 {
    background-color: blueviolet;
    color: white;
}

.row2 {
    background-color: skyblue;
}

.row3 {
    background-color: white;
}

.row4 {
    background-color: skyblue;
}

.cell-long{
    width: 50%;
}
